div {
    display: inline-block;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.red {
    background: red;
}
.purple {
    background: purple;
}
.orange {
    background: orange;
}